@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #003D7F;
    --secondary-color: #0068AE;
    --accent1-color: #1282A2;
    --accent2-color: #00608C;
    --white: #ffffff;
    --heading-font: Montserrat, serif;
    --paragraph-font: Montserrat, serif;
    --nav-background-color: #1282A2;
    --nav-link-color: #001F54;
    --nav-hover-link-color: #ffffff;
    --nav-hover-background-color: #001F54;
}

body {
    font-family: var(--heading-font);
    text-align: center;
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1500px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    margin: 0 auto auto;
    padding: 30px;
    position: relative;
    display: grid;
    grid-template-columns: 150px 400px 1fr;
    grid-row-gap: 20px;
    align-items: center;
    max-width: 1500px;
    background-color: #cbf1ff;
}

header h1 {
    font-weight: 600;
    text-align: left;
    padding-left: 15px;
}

header img {
    width: 150px;
}

.logo img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}

nav a {
    font-size: 18px;
}

nav a:hover {
    border-radius: 10px;
    font-weight: 600;
    background-color: #1282A2;
    color: #fff !important;
}

nav a:link,
nav a:visited {
    color: var(--nav-link-color);
    text-decoration: none;
}

nav img {
    width: 45px;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 1 100%;
}

.navigation a {
    display: block;
    color: navy;
    padding: 20px;
    text-decoration: none;
}

section {
    text-align: center;
}

section p {
    font-size: 18px;
}

section h2 {
    font-size: 30px;
    font-weight: 600;
}

section img {
    width: 600px;
}

footer{
    padding: 20px;
    background-color: #cbf1ff;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


footer nav{
   text-align: right;
}

.hero {
    position: relative;
    width: 100%;

}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    z-index: 10;
    text-align: center;
    background-color: #001f54a8;
    color: var(--white);
    width: 100%;
    padding: 2rem 0;
    font-size: 50px;
    font-weight: 400;
}

.hero article {
    position: absolute;
    margin-top: 250px;
    background-color: #003d7fa8;
    padding: 20px;
    margin-left: 250px;
    margin-right: 250px;

}

.hero article p {
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
    text-align: left;
}

.hero article img {
    width: 300px;
    float: right;
    margin-left: 20px;

}

.hero h2 {
    color: var(--white);
    font-size: 30px;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}

figure img {
    width: 220px;
    height: 150px;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.history-wrapper {
    background-color: #f1fbff;
    padding: 5px 40px 40px 40px;
}

.history {
    max-width: 1500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.history img{
    margin: 0 auto;
    width: 350px;
}

.history p{
    text-align: left;

}

.adventure-wraper{
    background-color: #eeeeee;
    padding: 5px 40px 40px 40px;
}

.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

